@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,600;1,600&display=swap");
html {
  box-sizing: border-box;
}

body {
  background-color: #0d1117;
  font-family: "Noto Sans", sans-serif;
  color: #fff;
  padding: 0;
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  max-width: 1320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.content {
  display: none;
}

.notfound {
  color: red;
  display: none;
  text-align: center;
}

#header {
  background-color: #24292f;
}

.header__item-1 {
  max-width: 32px;
}

.header__list-1 {
  display: flex;
  gap: 25px;
  align-items: center;
}

.header__search {
  border-radius: 6px;
  border: 1px solid #57606a;
  background: #24292f;
  color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 70px;
}

.header__item-image {
  max-width: 32px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
}

.header__list-2 {
  display: flex;
  align-items: center;
  gap: 40px;
  padding-right: 50px;
}

.header__item-plus {
  max-width: 22px;
  cursor: pointer;
}

.header__item-profile {
  max-width: 52px;
  cursor: pointer;
}
.header__item-profile img {
  border-radius: 50%;
}

.header__list-1 {
  padding-left: 16px;
}

.header__list-title {
  display: none;
}

@media screen and (max-width: 600px) {
  .header__list-2 {
    display: none;
  }
  .header__list-title {
    display: block;
    padding-right: 30px;
    padding-bottom: 15px;
  }
  .header__search {
    padding-right: 5px;
  }
}
.get-form__form {
  margin: 0 auto;
  width: 300px;
  padding: 20px;
  border-radius: 5px;
  background-color: #f5f5f5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.get-form__form input {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
}
.get-form__form button {
  width: 100%;
  outline: none;
  border: none;
  padding: 10px;
  background-color: aqua;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}
.get-form__form button:hover {
  background-color: rgb(59, 164, 164);
}

.tabs__item {
  color: #e6edf3;
  font-size: 14px;
  font-weight: 600;
  line-height: 30px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.tabs__content-block {
  display: flex;
  justify-content: space-between;
  border-radius: 6px;
  border: 1.4px solid #30363d;
  background: #0d1117;
  padding: 17px;
  max-width: 440px;
}
.tabs__content-block .tabs__content-content a {
  color: #2f81f7;
  padding-bottom: 25px;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px; /* 150% */
}
.tabs__content-block .tabs__content-content p {
  color: #7d8590;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px; /* 150% */
}
.tabs__content-block .tabs__content-public p {
  color: #7d8590;
  border-radius: 24px;
  border: 1px solid #30363d;
  font-size: 11px;
  font-weight: 500;
  line-height: 18px; /* 163.636% */
  padding: 2px 8px;
}

.tabs__content-title {
  color: #e6edf3;
  font-size: 15px;
  padding-bottom: 8px;
  font-weight: 400;
  line-height: 24px;
}

.tabs__content {
  display: grid;
  grid-template-columns: auto auto;
  -moz-column-gap: 16px;
       column-gap: 16px;
  row-gap: 16px;
}

.tabs__followers {
  display: flex;
}

.followers__img {
  max-width: 296px;
  padding-bottom: 16px;
}
.followers__img img {
  border-radius: 50%;
}

.tabs__container {
  padding-top: 25px;
  padding-left: 30px;
}

.tabs__content-list {
  padding: 10px;
  border-bottom: 2px solid #30363d;
  border-top: 2px solid #30363d;
  max-width: 455px;
}
.tabs__content-list a {
  color: #2f81f7;
  padding-bottom: 7px;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px; /* 150% */
}
.tabs__content-list p {
  color: #7d8590;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px; /* 120% */
}

@media screen and (max-width: 600px) {
  .tabs__content {
    grid-template-columns: auto;
  }
}
@media screen and (max-width: 394px) {
  .tabs__followers {
    display: block;
  }
}
.user-profile__img {
  max-width: 296px;
}
.user-profile__img img {
  border: 1px solid #30363d;
  box-shadow: 0px 0px 0px 1px rgba(240, 246, 252, 0.1);
  border-radius: 148px;
}

#head-tab {
  border-bottom: 1.6px solid #21262d;
  padding-top: 40px;
  display: flex;
  align-items: center;
}

.head-tab__container {
  margin: auto;
}

.tabs__active-tab {
  border-bottom: 2.4px solid #f78166;
}

.tabs__list {
  display: flex;
  gap: 18px;
  align-items: center;
}

@media screen and (max-width: 400px) {
  .tabs__list {
    display: block;
  }
}/*# sourceMappingURL=main.css.map */